@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --bordeaux: #4C1C24;
  --wild-ginger: #7D4D55;
  --ancestal: #CCBEC0;
  --sensuosus-grey: #827D7E;
  --after-dark: #393233;
  --bats-cloak: #191112;
  --cascading-white: #f7f5f6;
  --gradient: linear-gradient(90deg, #4C1C24, #7D4D55);
}

.glass-card {
  width: 288px;
  height: 295px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 30px;
  border-radius: 14px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 4px 4px 10px 0 rgba(30, 30, 30, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1.5px;
  border-image-source: linear-gradient(131deg, #fff 6%, #fff 6%, rgba(248, 246, 247, 0.8) 15%, rgba(255, 255, 255, 0.02) 31%);
  border-image-slice: 1;
  background-image: linear-gradient(251deg, var(--brand-primary) 83%, #ffcbd4 31%), linear-gradient(131deg, #fff 6%, #fff 6%, rgba(248, 246, 247, 0.8) 15%, rgba(255, 255, 255, 0.02) 31%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #191112;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Acorn Regular";
  overflow-x: hidden;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
  width: 100%;
  transition: all 0.5s;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(125, 77, 85, 0.3058823529);
}

h1,
.h1 {
  font-size: 3.8146972656rem;
  font-family: "Acorn REgular";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
}
h1.fw-eb,
.h1.fw-eb {
  font-weight: 800;
}
h1.fw-sb,
.h1.fw-sb {
  font-weight: 600;
}
h1.fw-r,
.h1.fw-r {
  font-weight: 400;
}

h2,
.h2 {
  font-size: 3.0517578125rem;
  font-family: "Acorn REgular";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
}
h2.fw-eb,
.h2.fw-eb {
  font-weight: 800;
}
h2.fw-sb,
.h2.fw-sb {
  font-weight: 600;
}
h2.fw-r,
.h2.fw-r {
  font-weight: 400;
}

h3,
.h3 {
  font-size: 2.44140625rem;
  font-family: "Acorn REgular";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
}
h3.fw-eb,
.h3.fw-eb {
  font-weight: 800;
}
h3.fw-sb,
.h3.fw-sb {
  font-weight: 600;
}
h3.fw-r,
.h3.fw-r {
  font-weight: 400;
}

h4,
.h4 {
  font-size: 1.953125rem;
  font-family: "Acorn REgular";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
}
h4.fw-eb,
.h4.fw-eb {
  font-weight: 800;
}
h4.fw-sb,
.h4.fw-sb {
  font-weight: 600;
}
h4.fw-r,
.h4.fw-r {
  font-weight: 400;
}

h5,
.h5 {
  font-size: 1.5625rem;
  font-family: "Acorn REgular";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
}
h5.fw-eb,
.h5.fw-eb {
  font-weight: 800;
}
h5.fw-sb,
.h5.fw-sb {
  font-weight: 600;
}
h5.fw-r,
.h5.fw-r {
  font-weight: 400;
}

h6,
.h6 {
  font-size: 1.25rem;
  font-family: "Acorn REgular";
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.6;
}
h6.fw-eb,
.h6.fw-eb {
  font-weight: 800;
}
h6.fw-sb,
.h6.fw-sb {
  font-weight: 600;
}
h6.fw-r,
.h6.fw-r {
  font-weight: 400;
}

p,
.p {
  font-size: 1rem;
  line-height: 1.6;
}
p.fw-eb,
.p.fw-eb {
  font-weight: 800;
}
p.fw-sb,
.p.fw-sb {
  font-weight: 600;
}
p.fw-r,
.p.fw-r {
  font-weight: 400;
}

.small {
  font-size: 0.64rem;
}
.small.fw-eb {
  font-weight: 800;
}
.small.fw-sb {
  font-weight: 600;
}
.small.fw-r {
  font-weight: 400;
}

.smaller {
  font-size: 0.512rem;
}
.smaller.fw-eb {
  font-weight: 800;
}
.smaller.fw-sb {
  font-weight: 600;
}
.smaller.fw-r {
  font-weight: 400;
}

@font-face {
  font-family: "Acorn Light";
  src: local("Acorn Light"), local("Acorn-Light"), url("../assets/fonts/Acorn-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acorn ExtraLight";
  src: local("Acorn ExtraLight"), local("Acorn-ExtraLight"), url("../assets/fonts/Acorn-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acorn Bold";
  src: local("Acorn Bold"), local("Acorn-Bold"), url("../assets/fonts/Acorn-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acorn Medium";
  src: local("Acorn Medium"), local("Acorn-Medium"), url("../assets/fonts/Acorn-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acorn Thin";
  src: local("Acorn Thin"), local("Acorn-Thin"), url("../assets/fonts/Acorn-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acorn Regular";
  src: local("Acorn Regular"), local("Acorn-Regular"), url("../assets/fonts/Acorn-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Acorn SemiBold";
  src: local("Acorn SemiBold"), local("Acorn-SemiBold"), url("../assets/fonts/Acorn-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
#app {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  overflow-x: hidden;
  width: 100%;
}/*# sourceMappingURL=main.css.map */